@import url('fonts.css');

.hourpicker{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.hourpicker h1{
    position: relative;
    min-width: 200px;
    height: 60px;
    border-radius: 8px;
    background-color: #9F2C2C;
    display: flex;
    color: white;
    align-items: center;
    padding-left: 33px;

    font-weight: 500;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
}

.calendar-box{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex; 
    flex-direction: column; 
    align-items: center;
} 
.calendar-choose{
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.button-calendar{
    display: flex; 
    align-items: center;
    padding-top: 20px;
}

.button-closedates{
    display: flex; 
    align-items: center;
}

.hourpicker .hour{
    margin-right: 45px;
}

.icon-calendar{
    margin: 10px;
    padding-top:0px;
    height: 5%;
    width: 5%;
}

.info-label{
    font-size: 15px;
    font-weight: 600;
    line-height: 200%;
    padding-left: 20px;
}

.react-calendar {
    top:80px;
    position: 'relative';
    display: 'flex';
    margin: 0px 80px 0px 200px;
    width: 350px;
    max-width: 100%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    grid-area: "overlap";
    z-index: 1;
  }

