@import url('fonts.css');

.separator {
    position: relative;
    min-width: 200px;
    height: 60px;
    border-radius: 8px;
    background-color: #9F2C2C;
    display: flex;
    margin-bottom: 30px;
  }

.textSeparator
{
    width: 100%;
    padding: 17px 20px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
}