.login Button{
    display: flex;
    margin: auto;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

}
.AfterJoin Button{
    display: flex;
    margin: auto;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

}